<div>
  <audio id="player" src="{{filepath}}" controls>
    <div>
      <button onclick="document.getElementById('player').play()">Play</button>
    </div>
  </audio>


  <form method="post" action="/songs/{{id}}">
    <label for="artist">Artist: </label><br>
    <input type="text" id="artist" name="artist"> <br>
    <label for="title">Title: </label><br>
    <input type="text" id="title" name="title"> <br>
    <input class="submit" name="" type="submit" value="Submit">
    {{!-- <input type="submit" value="Submit" onclick="window.location='/songs/2';">
     --}}
  
  </form>
 
   {{>go-home}}
</div>

<script>
  
</script>