<div>
  <audio id="player" src="{{filepath}}" controls>
    <div>
      <button onclick="document.getElementById('player').play()">Play</button>
    </div>
  </audio>


  <form method="post" action="/songs/{{id}}">
    Artist: <br>
    <input type="text" id="artist" name="artist"> <br>
    Title: <br>
    <input type="text" id="title" name="title"> <br>
    <input class="submit" name="" type="submit" value="Submit"> 
  </form>
 
   {{>go-home}}
</div>
