  <audio id="player" src="{{filepath}}" controls>
    <div>
      <button onclick="document.getElementById('player').play()">Play</button>
    </div>
  </audio>


<form method="post" action="/result">
  Artist: <br>
  <input type="text" id="artist" name="artist"> <br>
  Title: <br>
  <input type="text" id="title" name="title"> <br>
  <input type="submit" value="Submit"> 
</form>
