body {
  text-align: center;
  font-size: 10px;
  background-color: #ffbd59;
}

h1 {
  font-size: 100px;
  font-family: 'Acme', sans-serif;
  color: black;
}

button {
  background-color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
}

div {
  padding: 20px;
}